$drawerWidth      : 15em;
$drawerWidthSmall : 3em;
$colorFondoMenu   : #fafafa;
$colorFondoCard:  var(--colorFondoCard);
$fuentePrincipal: var(--fuentePrincipal);
$colorSecundario: var(--colorSecundario);
$colorPrincipal:  var(--colorPrincipal);
$colorBlanco:     var(--colorBlanco);
$rojoOscuro:      var(--rojoOscuro);
$grisOscuro:      var(--grisOscuro);
$grisClaro:       var(--grisClaro);
$rojoClaro:       var(--rojoClaro);

h1 {
  font-family: $fuentePrincipal;
  color: $colorPrincipal;
  font-size: 1.4em;
  font-weight: 600;
}

.dashboard{
  color: $grisOscuro;
  .boxTitulo{
    border-radius: 3em;
    background-color: #e7e7e7;
    width: 80%;
    margin: auto;
    text-align: center;
    .titulo{
      margin: 0;
      font-family: $fuentePrincipal;
      font-weight: 400;
      font-size: 2.125rem;
      line-height: 1.235;
      margin-bottom: 0.35em;
      color: #7b7b7b;
      font-weight: 700;
    }
  }

  .cardBottom{
    border-bottom: 4px solid $colorPrincipal;
    h5{
      font-family: $fuentePrincipal;
      color: #6e6e6e;
      text-align: center;
      font-size: 1.5em;
      font-weight: 600;
    }
    .box{
      display: flex;
      align-items: center;
      padding: 0.5em;
    }
    .icono{
      font-size: 3em;
      margin-right: 1em;
      color: $grisOscuro;
    }
    .contenido{
      font-size: 3em;
      color: $rojoClaro;
      font-weight: 700;
    }
  }
}

.containerAdmin{
  width: 96%;
  margin: auto;
}

.inputGeneral{
  width: 100%;
}

.containerAdmin{
  padding: 1em;
}

.containerMedium {
  width: 80%;
  margin: auto;
}

.containerSmoll{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.iconLupa{
  background: $rojoClaro;
  bottom: 1px;
  color: #fff;
  padding: .2em;
  position: absolute;
  right: 0;
}

.divisionFormulario {
  background-color: $colorPrincipal;
  text-align: left;
  padding: 5px 0px 5px 10px;
  color: $colorBlanco;
  margin-top: 1.5em;
  font-weight: 600;
  border-radius: 4px;
}

.divisionFormularioGris {
  background-color: $grisClaro;
  text-align: left;
  padding: 5px 0px 5px 10px;
  color: $colorBlanco;
  margin-top: 1.5em;
  font-weight: 600;
  border-radius: 4px;
}

.cardContainer {
  margin-left: 1em;
  padding: 1em;
  margin-right: 1em;
  background-color: $colorFondoCard !important;
}

.iconAdd{
  text-align: right;
  width: 98%;
  margin-bottom: 1em;
}

.iconoMenu{
  padding: 0 !important;
  height: 3.6em;
  align-items: center !important;
  justify-content: right !important;
}

.tachado{
  text-decoration:line-through; 
  background-color: $grisClaro;
}

.titleGeneral {
  color: #6a6969;
  display: inline-block;
  font-size: 2em !important;
  text-shadow: -0.03px 0.03px #fff6e6, -1px 1px #e7dcd7;
  font-weight: bold !important;
  line-height: 0.5 !important;
  padding-bottom: 0.8em;
}

.paddingCard{
  padding: 1em;
}

.alertContainer {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 16px;
  padding: 24px;
  margin-top: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.iconoDownload {
  font-size: 1.75rem !important;
  color: $colorPrincipal !important;
  transition: all 0.2s linear !important;
  padding-left: 1em;
  cursor: pointer;
  &:hover {
    color: $rojoClaro !important;
    transition: all 0.2s linear !important;
  }
}

.subTitleGeneral{
  text-align: justify;
  margin: 0; 
  p{
    color :#484848
  }
}

.frmTexto {
  width: 100%;
  color: #666262;
  label {
    line-height: 18px;
    display: block;
    font-weight: 600;
    color: #6e6e6d;
  }
  span {
    line-height: 20px;
    display: block;
    font-weight: 300;
    padding-top: 2px;
    font-family: $fuentePrincipal;
    text-align: justify;
  }
  .advertencia{
    color: #ec801c;
    font-size: 2em; 
    padding-top: 5px;
    font-weight: bold;
    text-decoration: underline;
  }
  .textoRojo{
    color: $rojoClaro;
    font-weight: bold;
    font-size: 1.8em;
    padding-top: 6px;
  }
  .textoGris{
    display: unset;
    font-weight: 600;
    color: #666262;
  }
  .labelDeroration{
    text-decoration: underline;
    padding-bottom: 3px;
  }
  .longText{
    text-align: justify;
    overflow: auto;
    max-height: 20em;
    min-height: 3em;
    overflow-x: hidden;
    padding-right: 10px;
  }
}

.frmTextoColor {
  width: 100%;
  color: #666262;
  display: flex;
  align-items: baseline;
  margin-top: 0.5em;
  label {
      line-height: 18px;
      display: block;
      font-weight: 600;
      color: #6e6e6d;
  }
  span {
      line-height: 20px;
      display: block;
      font-weight: 300;
      padding-top: 2px;
      font-family: $fuentePrincipal;
  }
  .textoRojo{
    color: $rojoOscuro;
    font-weight: bold;
    font-size: 1.5em;
  }
}

.nav {
  transition: width 0.3s, left 0.3s;
  position: fixed;
  z-index: 99;
  width: $drawerWidth;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset -1px 0 0 #e5e5e5;
  transform: translate3d(0 , 0 , 0);
  border-left: 1px solid #dcdcdc;
  .toolbarIcon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    .accionMenu {
      text-align: right;
      margin: 0 auto;
      display: block;
      width: 100%;
      padding: 0;
    }
  }
  > div{
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: $colorFondoMenu;
    .imgFoot{
      position: fixed;
      background: white;
      bottom: 0;
      width: 100%;
      height: 3.7em;
      transition: all 0.3s, left 0.3s;
      text-align: center;
      box-shadow: 1px 0px 4px -1px rgb(0 0 0 / 20%), -1px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%);
      img{
        width: 85%;
        padding-top: 5px;
      }
    }
    .imgFoot.hidden{
      opacity: 0;
      transition: all 0.3s, left 0.3s;
    }
  }
}

.nav.navClose {
  width: $drawerWidthSmall;
  transition: width 0.3s, left 0.3s;
}

.component {
  margin-left: 15em;
  transition: padding 0.3s ;  
  transition: all 0.3s, left 0.3s;
}

.component.componentClose {
  margin-left: 3em;
  transition: all 0.3s, left 0.3s;
}

.itemMenu{
  display: flex;
  align-items: end;
  text-decoration: none;
  color: #333;  
  transition: all .5s ease-in-out;
  &:hover{
    transition: all .5s ease-in-out;  
  }
  .pr10{
    padding-right: 8px;
  }
  >div{
    width: 100%;
  }
}

.itemMenu.active{
  border-left: 5px solid $colorPrincipal;
  background-color: #e9e9e9;
  border-right: 1px solid $colorPrincipal;
  > div{
    > div{
      padding-left: 1.6em;
    }
  }
}

.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  .big{
    width: 80%;
    background-color: $colorBlanco ;
    min-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1em;
    max-height: 80vh;
  }
}

.inputFile{
  display: flex;
  .buttonFile{
    margin: 0;
    flex: 1;
  }
  .nameFile{
    border-bottom: 1px solid #949494;
    flex: 0 80%;
    margin-left: 0.5em;
    padding: 10px 1em;
  }
}

.titleMenu{
  text-align: center;
  position: relative;
  width: 100%;
  span {
    background: $colorPrincipal;
    color: $colorBlanco !important ;
    position: relative;
    display: block;
    font-size: 1.1em;
    padding: 2.5px 5px;
    text-shadow: 0 0.01em 0.05em #505050;
    transition: all 0.3s, left 0.3s;
    height: 1.2em;
  }
  span.hidden{
    opacity: 0;
    height: 0em;
    transition: all 0.3s, left 0.3s;
  }
  h3{
    margin: 0;
    position: relative;
    display: block;
    color: $colorPrincipal;
    text-shadow : 0 0.01em 0.05em #505050;
    font-size: 1.2em
  }
}

.imgLogoGeneral{
  object-fit: contain;
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  padding: 5px;
  margin-top: 10px;
}

.imgLogoInstitucion{
  width: 120px;
  height: 120px;
  object-fit: contain;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  padding: 5px;
  margin-top: 10px;
}

/*Inicio de dasboard*/
.tituloTableEstado{
  color: $colorPrincipal;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.tituloBienvenida{
  width: 60%;
  margin: auto;
  background-color: #f3f3f5;
  text-align: center;
  span{    
    color: $colorPrincipal;    
    font-size: 22px; 
    font-weight: 600; 
    text-transform: uppercase;
    margin-bottom: 4em;
  }
}

.dashboardCard{
  background:#fff;
  border-radius:12px;
  height:190px;
  padding:18px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  position:relative;
  overflow:hidden;
  border:1px solid #edf1f7;
  transition:.30s;
  cursor:pointer;
  box-shadow:0 5px 15px rgba(0,0,0,.05) !important;
  &::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:6px;
    background:linear-gradient(
        90deg,
        $colorPrincipal,
        $colorSecundario
    );
  }
  &:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 30px rgba(0,0,0,.12);
    .dashboard-card__icon{
      transform:scale(1.08);
    }
  }
}

.dashboardCardIcon{
  width:150px;
  height:150px;
  border-radius:20%;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#eef7ff;
  transition:.3s;
  img{
    width:100px;
    height:100px;
  }
}

.dashboardCardBody{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.dashboardCardTotal{
  font-size:2.3rem;
  font-weight:700;
  color: $colorPrincipal;
  line-height:1;
}

.dashboardCardTitle{
  margin-top:6px;
  font-size:.85rem;
  color:$grisOscuro;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:1px;
}
/*final de dasboard*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;   
  -webkit-font-smoothing: antialiased;
  color: $colorPrincipal;
}

.tituloReporte{
  font-size: 1em !important;
  font-style: normal;
  color: $grisOscuro;
  text-align: left;
  font-weight: 800 !important;
}

/*md*/
@media (max-width: 768px) { 
  .containerAdmin{
    width: 94%;
  }
  .containerMedium {
    width: 95%;
  }
  .containerSmoll{
    width: 95%;
  }
  .dashboard{
    .boxTitulo{
      width: 96%;
      border-radius: 1em;
      .titulo{
        font-size: 1.3em;
      }
    }
  }
  .tituloBienvenida {
    width: 98%;
  }
}

/*xs*/
@media (max-width: 576px) {
  .containerAdmin{
    width: 92%;
  }
  .containerMedium {
    width: 100%;
  }
  .containerSmoll{
    width: 100%;
  }
  .dashboard{
    .boxTitulo{
      width: 96%;
      border-radius: 1em;
      .titulo{
        font-size: 1.2em;
      }
    }
  }
  .tituloBienvenida {
    width: 98%;
  }
}